body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

img {
    width: 250px; /* Adjust image size */
    height: auto;
    margin-top: 20px;
}

h1 {
    color: #2c3e50;
    font-size: 28px;
    margin-top: 10px;
}

h2 {
    color: #16a085;
    font-size: 22px;
    margin-bottom: 20px;
}

form {
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: -20px;
}

input[type="submit"],
input[type="reset"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #27ae60;
    color: white;
}

input[type="reset"] {
    background-color: #e74c3c;
    color: white;
}

input[type="submit"]:hover {
    background-color: #219150;
}

input[type="reset"]:hover {
    background-color: #c0392b;
}
*{
    margin: 0;
    padding: 0;
  }
  .navbar{
    margin-top: 2px;
    display: flex;
    border: 3px solid black;
    border-radius: 5px;
    background-color: black;
    color: beige;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
  }
  .left{
    color: cyan;
    text-shadow: 0.5px 0.5px yellow;
    margin-left: 5px;
  }
  .right ul{
    display: flex;
    list-style-type:none;
  
  }
  .right ul li {
    margin: 15px;
    
  }
  .right ul li a{
    color: beige;
    text-decoration: none;
    
  
  }
  .right ul li a:hover{
    color: aqua;
    font-weight: bold;
    transform: scale(0.1);
  }
  .right ul li:last-child {
    margin-right: 10px;
  }
    
  
    
